Unidad6-2/Actividad 6/6.4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name = "minerales">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nombre" type = "xs:string"/>
                <xs:element name= "propiedades">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name = "propiedad" type="xs:string" min0ccurs="2" max0currs="4"/>
                        </xs:sequence>
                    </xs:complexType>
            </xs:sequence>
        </xs:complexType>
    </xs:element>